{% extends 'base.html.twig' %} {% block title %}{{ plat.titre }}{% endblock %} {% block body %}
<h1>{{ plat.titre }}</h1>
<p>{{ plat.ingredients }}</p>
<p>{{ plat.tempsDeCuissant }}</p>
<hr>
<a href="/">Retour</a> {% endblock %}